{% extends "base.html" %}
{% block content %}

<form action="/country/{{country.id}}" method="post">
  <div>
    <label for="location">New Name:</label>
    <input type="text" id="location" name="location" value="{{country.location}}" placeholder="Type name of country" required autofocus>
  </div>

  <div>
    <label for="visited">Visited:</label>
    <select id="visited" name="visited">

      <option value="true"
        {% if country.visited == True %} selected="selected" {% endif %}>
        Visited
      </option>

      <option value="false"
        {% if country.visited == False %} selected="selected" {% endif %}>
        Still to Visit
      </option>

    </select>
  </div>


  <div>
    <label for="country">Choose country to edit:</label>
    <select id="country" name="country_id">
      {% for country in countries %}
        <option value="{{ country.id }}"
          {% if country.id== country.id %} selected="selected"{% endif %}>
          {{ country.name }}
        </option>
      {% endfor %}
    </select>
  </div>


  <button type="submit">Update Country</button>

</form>

{% endblock %}