{% extends "base.html" %}
{% block content %}

<form action="/country/{{country.id}}" method="post">
  <div>
    <label for="name">New Name:</label>
    <input type="text" id="name" name="name" value="{{country.name}}" placeholder="Type name of country" required autofocus>
  </div>

  <!-- Show country as 'visited'/'still to visit' based on
  boolean value in the table -->
  <div>
    <label for="visited">Visited:</label>
    <select id="visited" name="visited">

      <option value="true"
        {% if country.visited == True %} selected="selected" {% endif %}>
        Visited
      </option>

      <option value="false"
        {% if country.visited == False %} selected="selected" {% endif %}>
        Still to Visit
      </option>

    </select>
  </div>

  <button type="submit">Update Country</button>

</form>

{% endblock %}