{% extends 'base.html' %}

{% block content %}
<h1>Countries</h1>
<h3>The countries I have visited so far!</h3>
  <ul>
      {% for country in countries %}
      <li>
        <p>{{ country.id }} {{ country.name }} </p>
        {% if country.visited == True %} Visited {% endif %}
        {% if country.visited == False %} Still to Visit {% endif %}
        <p>
        <form action="/country/{{ country.id }}/delete" method="POST">
          <input class="btn btn--danger" type="submit" value="delete" />
        </form>
        </p>
      </li>
        {% endfor %}
  </ul>
<a href='/country/new'>
    <button class="btn">
        Add New Country
    </button>
</a>
<a href='/country/edit'>
    <button class="btn">
        Edit Countries
    </button>
</a>
{% endblock %}