{% extends 'base.html' %}

{% block content %}
<h1>Countries</h1>
<h3>The countries I am currently traveling through! &#127758;</h3>
  <ul>
      {% for country in countries %}
      <li>
        <p>&#128205; {{ country.name }} </p>
        {% if country.visited == True %} <p id="checked">Visited &#9989;</p> {% endif %}
        {% if country.visited == False %} <p id="unchecked">Still to Visit &#129523;</p> {% endif %}
        <p>
          <form action="/country/{{ country.id }}/delete" method="POST">
            <input class="btn btn--danger" type="submit" value="Remove" />
          </form>
          <a href="/country/{{ country.id }}/edit">
            <button class="btn">
              Edit Details
            </button>
          </a>
        </p>
      </li>
        {% endfor %}
  </ul>
     <a href='/country/new'>
      <button class="btn button">
        Add New Country
      </button>
     </a>
     <a href='/cities'>
      <button class="btn button">
        View Cities
      </button>
     </a>
{% endblock %}