{% extends "base.html" %}
{% block content %}

<form action="/country" method="post">
  <div>
    <label for="newcountry">Name of Country:</label>
    <input type="text" id="newcountry" name="newcountry" placeholder="Add new country" required autofocus>
  </div>

  <div>
    <label for="visited">Visited:</label>
    <select id="visited" name="visited">
      <option value="true">True</option>
      <option value="false">False</option>
    </select>
  </div>

  <button type="submit">Add Country</button>

</form>

{% endblock %}