{% extends "base.html" %}
{% block content %}

<form action="/cities" method="post">
  <div>
    <label for="name">Name of City:</label>
    <input type="text" id="name" name="name" placeholder="Add new city" required autofocus>
  </div>
  
    <div>
    <label for="visited">Visited:</label>
    <select id="visited" name="visited">
      <option value="true">Visited</option>
      <option value="false">Still to Visit</option>
    </select>
  </div>

  <div>
    <select id="country" name="country_id">
      {% for country in countries %}
        <option value="{{ country.id }}">
          {{ country.name }}
        </option>
      {% endfor %}
    </select>
  </div>

  <button type="submit">Add City</button>

</form>

{% endblock %}