@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Nunito:wght@400;457;832&display=swap');

body {
    background-color: #CFFCFF;
}

input, select, button {
    font-size: 100%;
    width : 100%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

#checked {
    border: 2px solid rgb(80, 255, 80);
    border-radius: 40px;
    color: rgb(11, 132, 11);
    font-weight: 500;
}

#unchecked { 
    border: 2px solid rgb(220, 126, 68);
    border-radius: 40px;
    color: rgb(207, 100, 0);
    font-weight: 500;
}

label {
    font-family: "Helvetica", arial, sans-serif; 
    font-size: 14px;
}

li {
    list-style: none;
}

.menu{
    display: flex;
    padding: 10px;
    background-color: #AAEFDF;
    color: white;
}
  
.menu li a{
    text-decoration: none;
}
  
.menu li a:visited{
   color: white;
}

.menu li a:hover{
    color: #1F7A8C;
    transition: .5s;
}
  
.menu li{
    padding-right: 10px;
    list-style: none;
    color: white;
    font-family: "Helvetica", arial, sans-serif; 
    font-size: 14px;
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: 832;
    font-size: 60px;
    color:#1F7A8C;
    border: 2px solid rgb(77, 205, 196);
    box-shadow: 10px 5px 5px rgb(12, 86, 136);
    border-radius: 30px;
    padding: 10px;
}

h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 457;
    font-size: 40px;
    color:#1F7A8C;
    padding: 10px;
}

h3 {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color:#1F7A8C;
    padding: 10px;
}

p {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color:#1F7A8C;
    padding: 10px; 
}

.name {
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-right: 0.3em;
}

.btn, button {
    border:1px rgb(10, 111, 138) solid;
    border-radius: 6px;
    width : 100%;
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #4aa0b1;
    cursor:pointer;
}

.btn:hover, button:hover{
    background-color:rgb(3, 7, 65);
    color: #FFF;
    opacity: 50%;
    transition: .5s;
}
  
.btn--danger {
    background-color: #C33C54;
}
  
.btn--danger:hover {
    background-color: #730000;
}
  
/* .buttons i {
    width: 80px;
}  */

.container{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: 0 auto;
}

.country-list {
    display: inline-block;
}